# Arquivos de byte compilados do Python
__pycache__/

# Arquivos de ambiente
.env
.env/ 
env/
ENV
env.back/
venv.back

# Diretório de ambiente virtual
venv/

# Ignorar arquivos específicos
limpar_pycache.py
limpar_pycache
criar_tabelas.py
criar_tabelas

#Certificados
.crt
.key